/* .md-theme-default a:not(.md-button){
  color:black!important;
} */
tbody tr:hover{
    background-color: rgb(95, 219, 219)!important;
}
tbody tr{
    background: #f9fbfb!important;
}
.mycol-50{
    width: 50%!important;
    padding-left: 5px!important;
  }
  .mycol-50 button{
    width: 100%!important;
  }
@media screen and (max-width: 900px) {
    .md-card-content,.vs__selected-options{
        font-size: 11px!important;
    }
}
.atable,.noborder {
    color: black !important;
    border: none!important;
    background: none;
}
.table thead th {
    vertical-align: inherit!important;
    text-align: center!important;
}
.red{
    color: red; text-weight:bold;
}
.atable:focus,.noborder:focus {
    background: burlywood;
}

.modallist {
    font-size: 15pt;
    margin-bottom: -5px;
    color: #9d9d9d !important;
    border: none;
    background: none;
    padding: 0px;
}

.vs__search,
.vs__search:focus {
    padding: 0 !important;
}
.md-layout-item input[type="tel"].table-input{
border-bottom: 1px solid silver!important;
width: 100%!important;
}
input[type="number"].table-input,
input[type="tel"].table-input,
input[type="text"].table-input {
    width: 100% !important;
    background: #f9fbfb !important;
}

.modal .modal-dialog {
    margin-top: 0px !important;
}

.vs__selected-options{
    overflow: hidden;
    padding: 0!important;
    font-size: 14px;
}
.vs__selected {
    position: absolute;
    margin: 0!important;
    min-width: 50px;
}

.form-control-sm {
    padding: 0 !important;
}

.menuicon {
    font-size: 25px;
    margin-right: 5px;
    color: white;
}

.mybtn {
    background: #3d464c !important;
    margin: 0 1px !important;
    color: white !important;
}

.main-panel a:hover,
.main-panel a:focus {
    color: blue !important;
}


/* .table.b-table.table-sm.b-table-stacked-md{ */


/* min-height: 500px; */


/* } */

.table-bordered th,
.table-bordered td {
    padding: 1px 4px !important;
}
td{
    position: sticky;
    /* background: #f9fbfb; */
}
.mylayouts {
    margin: 0 0 0 3px;
    border-radius: 3px;
    padding: 0px;
    background: #f9fbfb;
    border: 1px solid #d2d2d2;
}

.mylayouts textarea {
    width: 100% !important;
    border: none;
    background: #f9fbfb;
}

.mylayouts>label {
    text-align: center;
    background: #14555d;
    width: 100%;
    color: white;
    padding: 5px;
    margin: 0 1px;
}

.kassabtn {
    background: #14555d;
    color: white;
}

.leftkassa {
    margin: 0 0 0 0 !important;
    background: #e9ecef;
    min-height: 100vh;
    border-radius: 10px;
}
.topkassa {
    display: flex;
}

.leftkassa .mybtn {
    background: #14555d !important;
}
.mylayouts .vs__open-indicator {
    /* fill:rgb(255 255 255)!important; */
}

.mylayouts .vs__dropdown-toggle {
    border: none;
    min-width: 100px !important;
}

table .vs__dropdown-toggle {
    border: none !important;
}

.md-layout-item .vs__dropdown-toggle {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.mylayouts .vs--single .vs__selected {
    /* color:white!important; */
}
.vs__selected span{
    line-height: 1;
}

.md-field.md-focused label,
.md-field.md-has-value label,
.md-field.md-focused.md-has-value label {
    font-size: 14px !important;
    color: black !important;
}

.router-link-active.active {
    background: #999;
}

.main-panel>.content {
    padding: 0 5px !important;
}
.b-table.table tbody {
    display: block;
    max-height: 73vh;
    overflow-y: scroll;
  }
  
.b-table.table thead,.b-table.table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.tableparent{
    padding: 10px;
    margin: 25px 0;
    border-radius: 5px;
    background: #f9fbfb;
}
.vs__dropdown-menu{
/* position: i!important; */
    /* bottom: 10px !important; */
    /* top: -10px!important; */
}
.page-item.active .page-link,.page-item.active .page-link:hover{
    background-color: #3d464c!important;
    border-color: #3d464c!important;
    color: white !important;
}
.page-link{
    border-radius: 15px;
    color: #3d464c!important;
}

.md-toolbar {
    padding: 0 !important;
    min-height: 0px !important;
}

.wrapper .sidebar .logo,
.wrapper .off-canvas-sidebar .logo {
    padding: 4px 0 !important;
}

.wrapper .sidebar .nav,
.wrapper .off-canvas-sidebar .nav {
    margin-top: 0 !important;
}
.end{
    text-align: end;
}
.myheader{
    margin-top: -25px;
}

.nav .nav li {
    width: 100% !important;
}

.wrapper .sidebar .sidebar-wrapper .nav [data-toggle="collapse"]~div>ul>li>a,
.wrapper .off-canvas-sidebar .sidebar-wrapper .nav [data-toggle="collapse"]~div>ul>li>a {
    padding-left: 35px !important;
}
@page {margin: 15px;}
 @media screen {
    html {
        height: 5000px !important;
    }
    .b-table-sticky-header {
      overflow-y: auto;
      max-height: 1000px;
    }
  }
  .e-grid.e-responsive .e-rowcell, .e-grid.e-responsive .e-headercelldiv{
    white-space: pre-wrap!important;
    line-height: 18px!important;
    padding: 2px!important;
  }
  .e-grid .e-headercelldiv{
      text-align: center!important;
      height: 34px!important;
  }
  .e-grid .e-headercell,.e-grid .e-detailheadercell{
    padding: 2px!important;
  }
@media print {
    /* .e-content{ */
        /* display: contents!important; */
    /* } */
    .b-table-sticky-header {
        overflow-y: auto;
        height: 10000px;
      }
      .e-virtualtable{
          height: 1560px!important;
          display: contents!important;
      }
      div{
          height: auto!important;
      }
      html, body {
        height:100vh; 
        margin: 0 !important; 
        padding: 0 !important;
        overflow: hidden;
      }
    /* html,body{ */
        /* margin: 15px!important; */
        /* height: auto!important; */
        /* background: white!important; */
        /* overflow: auto; */
    /* } */
    
    .table100-body.js-pscroll {
        padding: 5px;
        display: contents;
    }
    h5{
        color: black!important;
    }
    th,td{
        color: black !important;
        border-color:black!important;
        font-weight: bold!important;
    }
    tr:first-child{
        border-top:1px solid black!important;
    }
    .summatable1 td{
        color: black!important;
        font-weight: bold;
    }
    button:not(.noborder),.vs__open-indicator,.esc{
        display: none!important;
    }
    tbody{
        height: auto!important;
    }
    input{
        padding: 0!important;
    }
    a{
        font-weight: bold!important;
        color: black!important;
        text-decoration: none!important;
    }
    .col-lg-2{
        width: 16.6%!important;
    }
    .col-lg-1{
        width: 8.3%!important;
    }
    .col-lg-3{
        width: 25%!important;
    }
    .col-lg-4{
        width: 33.3%!important;
    }
    .col-lg-5{
        width: 41.5%!important;
    }
    .col-lg-6{
        width: 50%!important;
    }
    .col-lg-7{
        width: 58.1%!important;
    }
    .col-lg-8{
        width: 66.4%!important;
    }
    .col-lg-9{
        width: 74.7%!important;
    }
    .col-lg-10{
        width: 82.5%!important;
    }
}
.summatable td{
    font-weight: bold;
    background: rgb(240 239 239)!important;
  }
  .summatable1 td{
    background: rgb(240 235 239)!important;
    font-weight: bold;
  }
table .mybtn {
    padding: 0 !important;
    background: none !important;
    color: #3d464c !important;
}
button a{
    color: inherit!important;
}

.md-toolbar-row {
    color: white !important;
    background: #3d464c !important;
}

.labelheader {
    color: white;
    font-size: 21px;
}

.md-card.md-theme-default {
    background-color: #f9fbfb !important;
}

table {
    background: #f9fbfb;
}

.table-input {
    border: none;
}

body {
    background: #f1f1f1 !important;
    overflow: hidden!important;
    /* height: 100vh; */
}
.md-card-content>.table.table-bordered tbody {
    display: block;
    height: 60vh;
    overflow-y: scroll;
  }

  .md-card-content>.table.table-bordered thead,
  .md-card-content>.table.table-bordered tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  table {
    /* border-style: solid; */
    border-color: black;
    border-collapse: collapse;
}


table th {
    position: sticky;
    cursor: col-resize;
}

table th.resizing {
    cursor: col-resize;
}

.noCrsr {
    cursor: default;
    margin-right: +5px;
}
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.modal-content .modal-body{
    padding: 0 18px 10px 18px!important;
}